
    body{
        position: relative;
        margin:0;
        height: 100%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color:darkblue;
        text-align: center;
            }
        

            .container{
                height: 40%;
                transform: translate(-50%, -50%);
                position: absolute;
                left: 50%;
                top:40%; 
                max-width: 600px;
                }
    
    @media (max-width:700px){
        .container{
        width:100%;
                }
            }

    .innercontainer{
        position: relative;
    }

 .inhalt{
    position: absolute;
    bottom: 70px;
    width: 100%;
 }
        
@media (max-width:700px){
    .icon{
        position: relative;
        width: 100%;
        text-align: center;
        transform: inherit;
        
    }
}

@media (max-width:700px){
    .text > p{
        position:relative;
        margin: auto;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        width: 100%;
        text-align: center;
        font-size: 18px;
        padding: 10px;
    }
}


@media (max-width:700px){
    .text{
        background-size: 100% 100%;
         
    }
}

.text{
    width: 100%;
}

.inhalt>img{
    position: relative;
   
}

